ALTER TABLE users ADD COLUMN phone_number VARCHAR(20) AFTER confirmpassword, ADD COLUMN whatsapp_number VARCHAR(20) AFTER phone_number;
UPDATE subscriptions SET amount = '499.00', original_price = '499.00' WHERE id = 1; UPDATE subscriptions SET amount = '1399.00', original_price = '1399.00' WHERE id = 4; UPDATE subscriptions SET amount = '1999.00', original_price = '1999.00' WHERE id = 3;
ALTER TABLE subscriptions ADD COLUMN shopier_link_normal VARCHAR(500), ADD COLUMN shopier_link_discount VARCHAR(500);
UPDATE subscriptions SET shopier_link_normal = 'https://www.shopier.com/smartlifeacademy/44117212', shopier_link_discount = 'https://www.shopier.com/smartlifeacademy/44126052' WHERE id = 1; UPDATE subscriptions SET shopier_link_normal = 'https://www.shopier.com/smartlifeacademy/44117413', shopier_link_discount = 'https://www.shopier.com/smartlifeacademy/44126248' WHERE id = 4; UPDATE subscriptions SET shopier_link_normal = 'https://www.shopier.com/smartlifeacademy/44117530', shopier_link_discount = 'https://www.shopier.com/smartlifeacademy/44126358' WHERE id = 3;
